.body {
  margin: 0;
  user-select: none;
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

